In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
from keras.models import Sequential
from keras.layers import Dense,LSTM,Dropout,Flatten
from keras.layers import Embedding
from keras.preprocessing import  sequence

In [3]:
def upload_accel(file_path):
    l=[]
    for i in os.listdir("WISDM Watch Accel and Gyro/Accel"):
        df=pd.read_csv(f"WISDM Watch Accel and Gyro/Accel/{i}", 
                       header=None, names=['subject id', 'activity', 'timestamp', 'x-accel','y-accel','z-accel'])
        df['z-accel'].replace(regex=True, inplace=True, to_replace=';', value='')
        df=df.drop(columns='timestamp')
        df=df.reset_index()
        l.append(df)
    accel=pd.concat(l)
    return accel

In [4]:
accel=upload_accel("WISDM Watch Accel and Gyro/Accel")

In [5]:
def upload_gyro(file_path):
    l=[]
    for i in os.listdir("WISDM Watch Accel and Gyro/Gyro"):
        df=pd.read_csv(f"WISDM Watch Accel and Gyro/Gyro/{i}", 
                       header=None, names=['subject id', 'activity', 'timestamp', 'x-gyro','y-gyro','z-gyro'])
        df['z-gyro'].replace(regex=True, inplace=True, to_replace=';', value='')
        df=df.drop(columns='timestamp')
        df=df.reset_index()
        l.append(df)
    accel=pd.concat(l)
    return accel

In [6]:
gyro=upload_gyro("WISDM Watch Accel and Gyro/Gyro")

In [7]:
gyro=gyro.reset_index()
accel=accel.reset_index()
data=pd.concat([accel, gyro],ignore_index=False, axis=1)
data=data.drop(columns=['level_0', 'index'])

In [8]:
data

,subject id,activity,x-accel,y-accel,z-accel,subject id,activity,x-gyro,y-gyro,z-gyro
0,1619,A,9.306112,-1.640178,-2.385074,1631.0,A,-2.019593,0.131862,0.8683165
1,1619,A,8.958953,-1.609053,-2.3108535,1631.0,A,-0.178816,0.320414,-0.4142619
2,1619,A,8.044368,-0.943465,-2.282123,1631.0,A,0.135437,-0.534993,-1.6489034
3,1619,A,8.848820,-0.177321,-2.5981576,1631.0,A,2.253182,-0.702240,-2.2358642
4,1619,A,8.173655,-0.117466,-2.459294,1631.0,A,-4.074488,-1.359508,-0.6358369
...,...,...,...,...,...,...,...,...,...,...
2432089,1605,S,4.962731,-8.595633,-7.9870567,NaN,NaN,NaN,NaN,NaN
2432090,1605,S,3.736900,-6.780828,-5.5401826,NaN,NaN,NaN,NaN,NaN
2432091,1605,S,2.015469,-6.929269,-3.7469256,NaN,NaN,NaN,NaN,NaN
2432092,1605,S,1.764078,-9.136723,-1.316811,NaN,NaN,NaN,NaN,NaN
2432093,1605,S,2.523040,-9.948357,-0.29209262,NaN,NaN,NaN,NaN,NaN

In [9]:
data=data.dropna(axis=0)

In [10]:
activity=data['activity']

In [11]:
activity=activity.iloc[:,1]

In [12]:
data=data.drop(columns='activity')

In [13]:
data['activity']=activity

In [14]:
data

,subject id,x-accel,y-accel,z-accel,subject id,x-gyro,y-gyro,z-gyro,activity
0,1619,9.306112,-1.640178,-2.385074,1631.0,-2.019593,0.131862,0.8683165,A
1,1619,8.958953,-1.609053,-2.3108535,1631.0,-0.178816,0.320414,-0.4142619,A
2,1619,8.044368,-0.943465,-2.282123,1631.0,0.135437,-0.534993,-1.6489034,A
3,1619,8.848820,-0.177321,-2.5981576,1631.0,2.253182,-0.702240,-2.2358642,A
4,1619,8.173655,-0.117466,-2.459294,1631.0,-4.074488,-1.359508,-0.6358369,A
...,...,...,...,...,...,...,...,...,...
2430913,1605,0.983568,-8.286781,-1.9153614,1610.0,-0.508430,0.602261,0.061357632,S
2430914,1605,1.603666,-8.425645,0.2753332,1610.0,0.014615,0.945276,-0.16980475,S
2430915,1605,0.375441,-6.929269,1.0989386,1610.0,3.126252,1.933841,-0.83666027,S
2430916,1605,2.331504,-9.371354,7.7332716,1610.0,3.550228,2.166069,-1.326682,S
2430917,1605,-0.160860,-8.334665,1.4341269,1610.0,4.390721,2.102153,-1.6675665,S

In [15]:
data['x-accel'].min()

-19.815012

In [16]:
# Normalize Data: Can normalize via z-score like below..must know standard deviation. Can also normalize via range
    #x-x.mean/(x.max-x.min)

def normalize(dataset):
    mu = np.mean(dataset, axis=0)
    sigma = np.std(dataset, axis=0)
    return (dataset - mu)/sigma

data

,subject id,x-accel,y-accel,z-accel,subject id,x-gyro,y-gyro,z-gyro,activity
0,1619,9.306112,-1.640178,-2.385074,1631.0,-2.019593,0.131862,0.8683165,A
1,1619,8.958953,-1.609053,-2.3108535,1631.0,-0.178816,0.320414,-0.4142619,A
2,1619,8.044368,-0.943465,-2.282123,1631.0,0.135437,-0.534993,-1.6489034,A
3,1619,8.848820,-0.177321,-2.5981576,1631.0,2.253182,-0.702240,-2.2358642,A
4,1619,8.173655,-0.117466,-2.459294,1631.0,-4.074488,-1.359508,-0.6358369,A
...,...,...,...,...,...,...,...,...,...
2430913,1605,0.983568,-8.286781,-1.9153614,1610.0,-0.508430,0.602261,0.061357632,S
2430914,1605,1.603666,-8.425645,0.2753332,1610.0,0.014615,0.945276,-0.16980475,S
2430915,1605,0.375441,-6.929269,1.0989386,1610.0,3.126252,1.933841,-0.83666027,S
2430916,1605,2.331504,-9.371354,7.7332716,1610.0,3.550228,2.166069,-1.326682,S
2430917,1605,-0.160860,-8.334665,1.4341269,1610.0,4.390721,2.102153,-1.6675665,S

In [17]:
data.iloc[:,:2].apply(normalize)

         subject id   x-accel
0          0.112051  1.218865
1          0.112051  1.169653
2          0.112051  1.040004
3          0.112051  1.154041
4          0.112051  1.058331
...             ...       ...
2430913   -1.234902  0.039084
2430914   -1.234902  0.126987
2430915   -1.234902 -0.047123
2430916   -1.234902  0.230163
2430917   -1.234902 -0.123148

[2430918 rows x 2 columns]

In [18]:
z_accel=data['z-accel'].astype(dtype='float64')

In [19]:
z_gyro=data['z-gyro'].astype(dtype='float64')

In [20]:
data=data.iloc[:,:6].astype('float64')

In [21]:
data=data.apply(normalize)

In [22]:
data['activity']=activity

In [23]:
data[data['activity']=='I']

,subject id,x-accel,y-accel,z-accel,subject id,x-gyro,activity
28826,0.112051,-0.328927,-0.163122,1.155305,1.267062,1.143661,I
28827,0.112051,-0.295667,-0.294398,1.158063,1.267062,1.658519,I
28828,0.112051,-0.193848,-0.243523,1.111633,1.267062,2.491082,I
28829,0.112051,-0.191133,-0.313931,1.090026,1.267062,2.974635,I
28830,0.112051,-0.191812,-0.319382,1.135997,1.267062,3.183109,I
...,...,...,...,...,...,...,...
2398461,-1.234902,-0.577259,-0.412359,0.959842,-0.753085,0.021886,I
2398462,-1.234902,-0.617308,-0.570435,0.874336,-0.753085,0.011230,I
2398463,-1.234902,-0.628168,-0.332867,0.805380,-0.753085,0.025217,I
2398464,-1.234902,-0.603732,-0.484130,0.778716,-0.753085,0.013228,I
2398465,-1.234902,-0.622399,-0.496848,0.807678,-0.753085,0.025883,I

In [24]:
data

,subject id,x-accel,y-accel,z-accel,subject id,x-gyro,activity
0,0.112051,1.218865,0.514351,-0.851502,1.267062,-1.244429,A
1,0.112051,1.169653,0.520257,-0.837251,1.267062,-0.093494,A
2,0.112051,1.040004,0.646536,-0.831734,1.267062,0.102991,A
3,0.112051,1.154041,0.791893,-0.892416,1.267062,1.427100,A
4,0.112051,1.058331,0.803250,-0.865753,1.267062,-2.529241,A
...,...,...,...,...,...,...,...
2430913,-1.234902,0.039084,-0.746681,-0.761313,-0.753085,-0.299583,S
2430914,-1.234902,0.126987,-0.773028,-0.340678,-0.753085,0.027448,S
2430915,-1.234902,-0.047123,-0.489126,-0.182538,-0.753085,1.972982,S
2430916,-1.234902,0.230163,-0.952453,1.091319,-0.753085,2.238070,S
2430917,-1.234902,-0.123148,-0.755766,-0.118178,-0.753085,2.763584,S

In [25]:
data=data.drop(columns='activity')

In [26]:
labels=pd.get_dummies(activity) #For one hot encoding. Only functions on string variables

In [27]:
features=np.array(data)
labels=np.array(labels)

In [28]:
labels.shape

(2430918, 18)

In [29]:
features.shape

(2430918, 6)

In [30]:
m=len(data) #Converting data to np arrays and splitting manually...will test against sklearn train_test_split and 
#
crossval=round(3*m/4)
train_data=features[:crossval,:]
test_data=features[crossval:,:]
X_train=train_data
y_train=labels[:crossval,:]
X_test=test_data
y_test=labels[crossval:,:]

In [31]:
X_train.shape
X_train=np.reshape(X_train, (X_train.shape[0],1,X_train.shape[1]))
X_test=np.reshape(X_test, (X_test.shape[0],1,X_test.shape[1]))

In [32]:
y_train.shape

(1823188, 18)

In [33]:
#Making the LSTM Model
model=Sequential()
model.add(LSTM(24,input_dim=6, return_sequences=True))
model.add(LSTM(12))
model.add(Dense(18, activation='sigmoid')) #Dense layer number must always 
#Match the number of potential outputs
model.compile(loss='categorical_crossentropy', optimizer='adam', 
              metrics=['accuracy']) #Can try categorical cross entropy,
#different batch sizes, different activation function for Dense

print(model.summary())

2022-12-22 17:13:28.826955: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:306] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2022-12-22 17:13:28.828672: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:272] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

Metal device set to: Apple M1
Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, None, 24)          2976

 lstm_1 (LSTM)               (None, 12)                1776

 dense (Dense)               (None, 18)                234

=================================================================
Total params: 4,986
Trainable params: 4,986
Non-trainable params: 0
_________________________________________________________________
None

In [34]:
X_train=X_train.astype(dtype='float32')
y_train=y_train.astype(dtype='float32')

In [35]:
y_train.shape

(1823188, 18)

In [36]:
#Trying different batch sizes for multiple models with pow
#pow(2,5) 2^5=32
X_train=np.reshape(X_train, (1823188,1,6))

In [37]:
accel=upload_accel("WISDM Watch Accel and Gyro/Accel")
gyro=upload_gyro("WISDM Watch Accel and Gyro/Gyro")
gyro=gyro.reset_index()
accel=accel.reset_index()
data=pd.concat([accel, gyro],ignore_index=False, axis=1)
data=data.drop(columns=['level_0', 'index'])

In [38]:
data=data.dropna(axis=0)

In [39]:
activity=data['activity']
ID=data['subject id']

In [40]:
ID=pd.concat([ID.iloc[:,0], ID.iloc[:,1]])

In [41]:
ID

0          1619.0
1          1619.0
2          1619.0
3          1619.0
4          1619.0
            ...
2430913    1610.0
2430914    1610.0
2430915    1610.0
2430916    1610.0
2430917    1610.0
Name: subject id, Length: 4861836, dtype: float64

In [42]:
bools=activity.iloc[:,0]==activity.iloc[:,1]

In [43]:
bools.isin([False]).any() #There are values that did not match in gyro and accel which must ahve thrown off my LSTM

True

In [44]:
#Goal: I need to find way to concatenate the accel and gyro data but while aligning both the subject and activity..

accel=accel.drop(columns=['level_0', 'index'])

In [45]:
#Starting with just accel data and going to build LSTM with each batch corresponding to specific subject.

accel.index=accel['subject id']

In [46]:
accel

            subject id activity   x-accel   y-accel      z-accel
subject id
1619              1619        A  9.306112 -1.640178    -2.385074
1619              1619        A  8.958953 -1.609053   -2.3108535
1619              1619        A  8.044368 -0.943465    -2.282123
1619              1619        A  8.848820 -0.177321   -2.5981576
1619              1619        A  8.173655 -0.117466    -2.459294
...                ...      ...       ...       ...          ...
1605              1605        S  4.962731 -8.595633   -7.9870567
1605              1605        S  3.736900 -6.780828   -5.5401826
1605              1605        S  2.015469 -6.929269   -3.7469256
1605              1605        S  1.764078 -9.136723    -1.316811
1605              1605        S  2.523040 -9.948357  -0.29209262

[2432094 rows x 5 columns]

In [47]:
accel[accel.index==1619]

            subject id activity   x-accel   y-accel      z-accel
subject id
1619              1619        A  9.306112 -1.640178    -2.385074
1619              1619        A  8.958953 -1.609053   -2.3108535
1619              1619        A  8.044368 -0.943465    -2.282123
1619              1619        A  8.848820 -0.177321   -2.5981576
1619              1619        A  8.173655 -0.117466    -2.459294
...                ...      ...       ...       ...          ...
1619              1619        S -1.434276 -9.809194    1.7712604
1619              1619        S -1.817349 -9.758916   0.94765496
1619              1619        S -1.606659 -9.086145   0.06419453
1619              1619        S -2.023250 -8.930522  -0.30211833
1619              1619        S -1.874810 -9.512313  -0.09142858

[64868 rows x 5 columns]

In [48]:
accel=accel.sort_index()

In [49]:
accel

            subject id activity   x-accel   y-accel      z-accel
subject id
1600              1600        H -5.475539 -7.633014  -0.38531685
1600              1600        L -5.861006 -7.120655    2.3751976
1600              1600        L -5.899313 -7.206846    2.3249195
1600              1600        L -5.863400 -7.283461    2.2674587
1600              1600        L -5.868188 -7.307403     2.260276
...                ...      ...       ...       ...          ...
1635              1635        L -1.667561 -2.072331     8.719383
1635              1635        L -1.090559  1.128716    10.979509
1635              1635        L -1.006762 -0.463428    10.373776
1635              1635        M  8.100033 -2.261922    1.5931916
1635              1635        A  8.212561 -6.916250   -0.5065233

[2432094 rows x 5 columns]

In [50]:
accel=accel.sort_values('activity')

In [54]:
from scipy.stats import zscore
accel['x-accel_n']=accel['x-accel'].transform(zscore)
accel['x-accel']

subject id
1635   -0.506523
1606    1.519869
1606    1.483956
1606    1.814356
1606    2.599654
          ...
1624    4.382287
1624    2.770989
1624    3.178003
1624    2.940978
1610   -8.487145
Name: z-accel, Length: 2432094, dtype: float64

In [68]:
accel['y-accel_n']=accel['y-accel'].transform(zscore)
accel['z-accel_n']=accel['z-accel'].transform(zscore)
accel=accel.drop(columns=['x-accel','y-accel','z-accel'])

KeyError: 'y-accel'

In [69]:
accel

            subject id activity  x-accel_n  y-accel_n  z-accel_n
subject id
1635              1635        A   1.063793  -0.486441  -0.490635
1606              1606        A   1.025396   0.311211  -0.101529
1606              1606        A   1.674374   0.338468  -0.108425
1606              1606        A   1.041349   0.131318  -0.044982
1606              1606        A   1.286413  -0.409271   0.105810
...                ...      ...        ...        ...        ...
1624              1624        S   0.336685  -0.288433   0.448110
1624              1624        S   0.259975  -0.624597   0.138710
1624              1624        S   0.425613  -0.442887   0.216864
1624              1624        S   0.566135  -0.621872   0.171351
1610              1610        S   0.190372  -0.767751  -2.023067

[2432094 rows x 5 columns]

In [70]:
accel.index

Int64Index([1635, 1606, 1606, 1606, 1606, 1606, 1606, 1606, 1606, 1606,
            ...
            1624, 1624, 1624, 1624, 1624, 1624, 1624, 1624, 1624, 1610],
           dtype='int64', name='subject id', length=2432094)

In [71]:
accel.loc[1600].values[:60000]

array([[1600, 'A', 1.4486359555815163, -0.3285229801944275,
        -1.1252385538981875],
       [1600, 'A', 1.8352394042409632, -0.28309540353080126,
        -0.8236540158801959],
       [1600, 'A', 2.3379257059815965, 0.6127371103143072,
        -0.2968004716115193],
       ...,
       [1600, 'R', -1.2453474257641175, 0.46836249598841484,
        -0.3603872328956214],
       [1600, 'R', -1.1574366639114269, 1.3764603796366592,
        -0.46106866719428813],
       [1600, 'R', -1.3298638553954854, 1.1038947299147939,
        0.17382203288969905]], dtype=object)

In [72]:
accel.index.unique()

Int64Index([1635, 1606, 1628, 1607, 1627, 1605, 1629, 1608, 1615, 1625, 1626,
            1602, 1631, 1603, 1601, 1632, 1633, 1604, 1630, 1613, 1619, 1618,
            1612, 1620, 1616, 1614, 1617, 1623, 1624, 1622, 1609, 1611, 1621,
            1610, 1634, 1600],
           dtype='int64', name='subject id')

In [73]:
#I want to write code to iterate through the dataframe.index and add 61000 values(approximately one subject) 
#from each unique index to an empty list so that I can create distinct batches of 61000 rows for each subject in the 
#model

l=[]
for i in accel.index.unique():
    arr=accel.loc[i].values[:60000]
    l.append(arr)

In [74]:
activity.iloc[:,0].unique().shape

(18,)

In [75]:
l

[array([[1635, 'A', 1.0637934194557874, -0.4864406362628823,
         -0.4906352143036975],
        [1635, 'A', 1.1109732862737702, 0.3030911584492328,
         -0.2377823027706234],
        [1635, 'A', 1.252512744958736, -1.1315126043665904,
         -0.03136238535156647],
        ...,
        [1635, 'R', -1.4278087848341396, -0.582207705610673,
         1.1324219049512403],
        [1635, 'R', -1.266582576370995, -0.5517711912980219,
         0.37386314154914646],
        [1635, 'R', -1.1650949392937575, 0.9468855684575792,
         -0.025184726246337132]], dtype=object),
 array([[1606, 'A', 1.0253960985833863, 0.3112113520083641,
         -0.10152906088525511],
        [1606, 'A', 1.6743738560697257, 0.33846795492857223,
         -0.10842506360848464],
        [1606, 'A', 1.0413489794267525, 0.13131801560232872,
         -0.044981957606642406],
        ...,
        [1606, 'R', -1.0685077172252155, 0.22035614175907922,
         -1.0191552543200084],
        [1606, 'R', -0.15172474062321448, -1.2051623144381376,
         2.1290933551036146],
        [1606, 'R', -0.5654820347169736, -1.9797028760331803,
         0.9609128825066876]], dtype=object),
 array([[1628, 'A', -1.4593327484736491, 0.9998655148434532,
         -0.5568366945121513],
        [1628, 'A', -1.374137458068776, 0.9617063257797931,
         -0.5172997031213636],
        [1628, 'A', -1.4925962175304937, 0.8022554216412026,
         -0.4910949465384518],
        ...,
        [1628, 'Q', -0.15836471066838897, 2.709931090031636,
         0.09259300005220876],
        [1628, 'Q', -0.42922467567273986, 2.7921550607148315,
         0.20384827767041677],
        [1628, 'Q', -0.21538786447869193, 2.7362790655225284,
         -0.033833441312892475]], dtype=object),
 array([[1607, 'A', -1.5713001188724771, -0.24800251517510138,
         -0.08540968740298453],
        [1607, 'A', -1.4718488939929764, -0.1503331494522618,
         -0.34423912758882225],
        [1607, 'A', -1.8757629025121052, 0.0009407946816782008,
         -0.4490581481598952],
        ...,
        [1607, 'R', 0.5918461773821226, 0.02910591118713733,
         -1.0407339624914227],
        [1607, 'R', -0.13418078648736642, -0.25754234422248445,
         -3.6166154211942034],
        [1607, 'R', -0.09412880709076027, -0.4501553641463135,
         -3.8428039879239693]], dtype=object),
 array([[1627, 'A', 1.847098096103168, -0.04948387233697916,
         -0.4155264064933276],
        [1627, 'A', 1.8817192158225318, 0.4216004771450405,
         -0.055096066771237906],
        [1627, 'A', 1.7907537860540923, 0.5878655026039665,
         -0.5143689149252834],
        ...,
        [1627, 'R', -1.8512608274686284, 0.954920578195212,
         0.9737854042817236],
        [1627, 'R', -1.152387760070285, 0.35573041508673936,
         1.0634332476645632],
        [1627, 'R', -1.5199834331402449, 0.013206259354868051,
         -1.3754480434852527]], dtype=object),
 array([[1605, 'A', 0.962178473832114, 0.34468583313864387,
         -0.23016798523226534],
        [1605, 'A', 1.6712342401795623, 0.34377728160537135,
         -0.520718968818067],
        [1605, 'A', 1.3379203344151542, 0.4455351292279373,
         -0.6715112378270627],
        ...,
        [1605, 'R', -0.7033728276257105, 0.024421189971949486,
         -0.23706397643434618],
        [1605, 'R', -1.0068174264318173, 0.10119387042952101,
         -0.07845625175376093],
        [1605, 'R', -0.7566623705207493, 0.3542256242380054,
         1.9885013542491627]], dtype=object),
 array([[1629, 'A', 1.3685532091141044, 0.3658380603814016,
         -0.08992083155866522],
        [1629, 'A', 1.2755512679096406, -0.11887450517767374,
         -0.2370352426896262],
        [1629, 'A', 1.3841667942512517, -0.1856531187692474,
         -0.15198470245241558],
        ...,
        [1629, 'I', -0.7826918645834899, -0.7080705539851214,
         0.07089938762497767],
        [1629, 'I', -0.8498977343551758, -0.7035277963187588,
         -0.04311430260367082],
        [1629, 'I', -0.35807303486784786, -0.9806363934470947,
         0.0474530052486775]], dtype=object),
 array([[1608, 'A', 0.961075369377975, -0.49010330341217645,
         -0.400125365683966],
        [1608, 'A', 1.163711206057248, -0.10306012254995141,
         -0.26864185495109294],
        [1608, 'A', 1.5296097201049956, 0.046396832361508426,
         -0.07417497371545743],
        ...,
        [1608, 'Q', -0.10180826488563624, 0.8235212208614608,
         -2.2755469022656896],
        [1608, 'Q', -0.0943409470775069, 0.8267011535047961,
         -2.2783053532799586],
        [1608, 'Q', -0.0967169117250902, 0.8194327359258928,
         -2.264053500387259]], dtype=object),
 array([[1615, 'A', 1.5986400149146347, 0.13963698089862822,
         -0.37015654864472547],
        [1615, 'A', 1.0239959455798633, 0.6275294768241573,
         -0.8216139276858413],
        [1615, 'A', 1.5602852672677288, 0.25684018561281624,
         -0.2271797257063621],
        ...,
        [1615, 'R', -1.0400385774473357, 1.203097290580539,
         -0.6105966783182838],
        [1615, 'R', -0.8540344965618324, 1.2471620399442565,
         0.3534625092304868],
        [1615, 'R', -1.0763568987196066, 1.2253568221197264,
         0.5552851331048719]], dtype=object),
 array([[1625, 'A', 1.6968819503719783, 0.8831165669218906,
         -0.9474944586243254],
        [1625, 'A', 1.9942169439855206, 0.6659725967802699,
         -1.1474781151558644],
        [1625, 'A', 1.9151313296577037, 0.2989175022150135,
         -1.0923102085815146],
        ...,
        [1625, 'R', -0.9875340094093291, 0.003524485732670589,
         -2.2203791301047406],
        [1625, 'R', -1.107689885362564, -0.05326004201889452,
         -1.9955698368868955],
        [1625, 'R', -0.9132002787270662, -0.7305856844238314,
         -1.1648329974168836]], dtype=object),
 array([[1626, 'A', 1.316281992821569, 0.5875531903861554,
         -0.7645208947786971],
        [1626, 'A', 1.0532288657518663, 0.5007864620365969,
         -0.6941818052555397],
        [1626, 'A', 1.0006181836303325, 0.4758012758975917,
         -0.5493660552983505],
        ...,
        [1626, 'Q', -0.0961441344130116, -1.0055079062873817,
         -0.23873050290504352],
        [1626, 'Q', -0.09207105199798998, -1.0354900689373532,
         -0.40929128393106035],
        [1626, 'Q', -0.058128698066913044, -1.0273132189819654,
         -0.29941520205701955]], dtype=object),
 array([[1602, 'A', 0.5274193199162862, 0.42739246470863673,
         -0.23197818810732845],
        [1602, 'A', 0.279640142031953, 0.4819056136270206,
         -0.24485069068044996],
        [1602, 'A', 0.32003154288386587, 0.36879085286453733,
         -0.29634073937676497],
        ...,
        [1602, 'R', -1.4681152660654344, 0.015108498807884488,
         -0.542757390022321],
        [1602, 'R', -1.2278033723899815, 0.5874964011718231,
         -1.1477654334011502],
        [1602, 'R', -0.2848848400962365, -0.5386540781499566,
         3.370945678295995]], dtype=object),
 array([[1631, 'A', 1.7610117167577357, 0.04946316532528689,
         -0.20140596377310174],
        [1631, 'A', 1.2759755115902744, 0.3810847216318987,
         -0.11313730941375941],
        [1631, 'A', 1.148012913952957, 0.2298107774979586,
         -0.1549729811802332],
        ...,
        [1631, 'R', -0.672633767958742, 0.08432885887563622,
         0.8720695993375396],
        [1631, 'R', -0.5623211676563082, -0.174608536821152,
         0.9516033527576983],
        [1631, 'R', -0.6156106396668558, -0.1255466781283924,
         1.226063612117526]], dtype=object),
 array([[1603, 'A', 1.7316515022161953, 0.462172983924493,
         -0.6940381365319398],
        [1603, 'A', 1.7072130814459363, 0.6061784968182421,
         -0.8425317827709926],
        [1603, 'A', 1.6953334077742968, 0.6102669787179685,
         -0.9018372602562169],
        ...,
        [1603, 'R', -0.9260346672586864, -0.3577953251002731,
         -1.255831311440032],
        [1603, 'R', -0.9066875534322852, -0.9124663776953437,
         -1.0861900208061082],
        [1603, 'R', -0.878175968020995, -0.7071336173316883,
         -1.2227306097396338]], dtype=object),
 array([[1601, 'A', -2.1334278867420404, 0.4051045480492883,
         0.3147300588514764],
        [1601, 'A', -1.811654259704765, 0.2988039617343706,
         0.0402697034820767],
        [1601, 'A', -1.8201399839313352, 0.17660366666515132,
         0.30829374995917247],
        ...,
        [1601, 'R', 0.7926576315541375, -0.5472284715796808,
         -0.9393054757925244],
        [1601, 'R', 0.37720318836199485, -1.5121109588755335,
         3.388157122256387],
        [1601, 'R', 1.1741696456776423, -0.7889034450663235,
         -0.2634985914538694]], dtype=object),
 array([[1632, 'A', 1.4524757684770764, -0.4404736284721378,
         -0.6345602450572467],
        [1632, 'A', 0.724072831595634, 0.7320129828413429,
         -0.5697379423511415],
        [1632, 'A', 1.6612212387027108, -0.18017338650143,
         -0.4713551788272036],
        ...,
        [1632, 'R', -0.8410091026798636, -0.842053823606831,
         0.39524067126330886],
        [1632, 'R', 1.2970197702619894, -2.826786014169438,
         3.35729753359228],
        [1632, 'R', -0.9866218110672508, -0.5649452264784951,
         -1.36783363953828]], dtype=object),
 array([[1633, 'A', -0.30940818048711344, -1.0310042333033986,
         -0.5185639648467466],
        [1633, 'A', -0.4448381757484973, -1.9154796442684816,
         -0.26065400065156624],
        [1633, 'A', -0.3260399362808831, -2.392924006275496,
         -0.5663761479842611],
        ...,
        [1633, 'R', 0.6265734111850135, 0.10394789117548846,
         0.10224737698204994],
        [1633, 'R', 0.9568325497953848, -0.15680656963982317,
         0.5960001235407565],
        [1633, 'R', 1.0342211185161756, 0.2992866036471568,
         -0.5519520443183651]], dtype=object),
 array([[1604, 'A', 2.681273878570256, 0.4100448112419658,
         -0.9202265304444761],
        [1604, 'A', 1.522906031990561, -0.030148691238734152,
         -0.18649338452677416],
        [1604, 'A', 2.481438305367334, 0.003921991258985538,
         -0.6834642759306755],
        ...,
        [1604, 'R', -0.9918828438371583, 1.964236830903877,
         -0.238040904552912],
        [1604, 'R', -0.9786453352033219, 2.244070930839944,
         -0.401245964062285],
        [1604, 'R', -1.0770781342420315, 2.165935498978507,
         -1.047170194576069]], dtype=object),
 array([[1630, 'A', 0.7413834339860107, 0.21382591338317486,
         -1.0432050184527486],
        [1630, 'A', 1.1782215449712734, 0.7476003319428064,
         -1.328698870648595],
        [1630, 'A', 1.4385594416004295, 1.8265060803045856,
         -1.0928561574119606],
        ...,
        [1630, 'R', -0.8361722852367931, -0.46869551521791813,
         -0.5148573732239919],
        [1630, 'R', -0.962098428145679, 0.27768010063776283,
         2.437085341536555],
        [1630, 'R', -1.1460660401258527, 0.21589855842720954,
         -1.2154897598355525]], dtype=object),
 array([[1613, 'A', 1.4954340385291742, 0.2663232064718563,
         -0.07598517659052055],
        [1613, 'A', 1.1173161723273148, 0.3317389927635212,
         -0.1385088181228541],
        [1613, 'A', 0.96321796654373, 0.36126689862086747,
         -0.22126065878246415],
        ...,
        [1613, 'R', -0.39277910256162624, 0.49391551734871,
         0.09411586548007182],
        [1613, 'R', -0.8333508414744312, 0.02964543718430975,
         0.5212074187974847],
        [1613, 'R', -0.3999069918259997, -0.37148044423572574,
         1.7611061392180036]], dtype=object),
 array([[1619, 'A', 1.3030022086771011, 0.3670021728661746,
         -0.7690607457964176],
        [1619, 'A', 1.7174382402053505, -0.20901991665684336,
         -0.866064324137241],
        [1619, 'A', 2.1970437718382443, -0.21583405315638726,
         -1.1129406878156372],
        ...,
        [1619, 'R', -0.7009543905503786, -1.430114012231591,
         0.24878717082435398],
        [1619, 'R', -0.4114261895054098, -0.8272895765809906,
         0.5342810422221147],
        [1619, 'R', -0.1924979919768739, -1.9657055585239818,
         1.5213268415086023]], dtype=object),
 array([[1618, 'A', 1.2655381955482978, 0.08438562911595769,
         0.2812844907683122],
        [1618, 'A', 1.5248579073439326, 0.10982510999560996,
         0.3695531374468887],
        [1618, 'A', 1.6565542037932832, 0.16433822096597223,
         0.3263382689761519],
        ...,
        [1618, 'S', -1.146553867195213, -0.048121064011081204,
         -0.3098741180784466],
        [1618, 'S', -1.2891117942516652, -0.19030945486427447,
         -0.6229519773268279],
        [1618, 'S', -1.423523533795037, -0.26435644277400683,
         -0.9672916899846307]], dtype=object),
 array([[1612, 'A', 2.0395511913026416, 0.43449054727984177,
         -0.125061621453418],
        [1612, 'A', 2.1559734393283345, 0.354083679663191,
         -0.27953176754236286],
        [1612, 'A', 1.7676730159463525, -0.08474697654358943,
         -0.11264885111505082],
        ...,
        [1612, 'R', -1.256336223148672, -0.0518972147189857,
         -0.4439436280083489],
        [1612, 'R', -1.2743257146663505, -0.10323031942685092,
         -0.4034871606269039],
        [1612, 'R', -1.2804352489744242, -0.10232184378962168,
         -0.2830372306328433]], dtype=object),
 array([[1620, 'A', 0.6422930253442978, 1.6597867601050127,
         -0.8896255915674438],
        [1620, 'A', 1.078452190494666, 1.2018764078554445,
         -1.0873106061271254],
        [1620, 'A', 1.5006950854759802, 0.5486274000562404,
         -1.2528143450520888],
        ...,
        [1620, 'R', -1.3092014514785861, 0.987685243478767,
         1.8667009228917304],
        [1620, 'R', 0.6363743120868955, -1.1678548554375994,
         3.375543192662682],
        [1620, 'R', -0.255291344693716, -0.07577503963952868,
         0.742654840840792]], dtype=object),
 array([[1616, 'A', 1.1469096677298354, 0.8595226007925593,
         -0.6197625969494163],
        [1616, 'A', 1.1173799683695154, 0.7345966738923353,
         -0.5710309493423932],
        [1616, 'A', 1.1638809035295017, 0.6160306001354148,
         -0.5549403038442683],
        ...,
        [1616, 'S', 0.4783726391345324, -0.048064236848727425,
         1.2461194356591625],
        [1616, 'S', 0.449861053723242, 0.5956449798511151,
         1.1564714578629218],
        [1616, 'S', 0.42576199954369354, 0.24585239287905297,
         1.2070421957050435]], dtype=object),
 array([[1614, 'A', -0.322242639903225, 1.1467102683552886,
         1.2762318778336572],
        [1614, 'A', -2.0325978167371113, 0.36808103512041135,
         -0.6560239913671007],
        [1614, 'A', -1.7695446187829171, 0.15956832541629146,
         -0.36547302506302204],
        ...,
        [1614, 'R', -1.0523639160928904, -0.14684094481601848,
         -1.2044849506692314],
        [1614, 'R', -0.947482003501923, -0.4748281621714645,
         -1.0376020342419194],
        [1614, 'R', -0.6817133624537077, -0.5820373948897087,
         -0.9061184998906916]], dtype=object),
 array([[1617, 'A', 1.2696962798099474, 0.43857902917956815,
         -1.1613562795922718],
        [1617, 'A', 1.0164862440913685, 0.3559007827297361,
         -0.7098988986309646],
        [1617, 'A', 0.9295937663104867, 0.35226657659664595,
         -0.5779556704488111],
        ...,
        [1617, 'R', -0.5343399116553819, -0.35186139296186264,
         0.6237851976794397],
        [1617, 'R', -0.5194052865300279, -0.47905872146408085,
         0.6030972471154945],
        [1617, 'R', -0.7342604186558201, -0.4177313791241207,
         0.4670164864262954]], dtype=object),
 array([[1623, 'A', 1.205311825446827, 0.09667947890930832,
         -0.7048131179847126],
        [1623, 'A', 1.2687839964064795, 0.08350548167685666,
         -0.5383899337921548],
        [1623, 'A', 1.11502511468291, 0.7544712576566825,
         -0.7682562239865548],
        ...,
        [1623, 'R', 1.0277933128420127, -2.042052424231121,
         3.379451166282982],
        [1623, 'R', -0.4361404218314491, -0.2803697109829621,
         -0.20876169105031986],
        [1623, 'R', -0.7402639522955526, -0.6710471359262986,
         -0.8027361607950446]], dtype=object),
 array([[1624, 'A', 1.305781093390866, 0.7109743188480411,
         -0.6724594283605256],
        [1624, 'A', 0.9096738774403109, 0.4688451568752119,
         -0.5579860250990372],
        [1624, 'A', 1.0081067048328167, 0.5805970903377863,
         -0.595684106752722],
        ...,
        [1624, 'Q', -1.058919016136591, -0.5135836797284369,
         -0.41822733356452857],
        [1624, 'Q', -1.066386342876166, -0.49586692482962264,
         -0.41317027706203935],
        [1624, 'Q', -1.059937271854603, -0.487235647315512,
         -0.41317027706203935]], dtype=object),
 array([[1622, 'A', 1.2747238332422994, 0.6990495704868337,
         -0.44230582568141436],
        [1622, 'A', 1.118928510967197, 0.6218226446210432,
         -0.2947316765551247],
        [1622, 'A', 1.2316171310653479, 0.6290910568872234,
         -0.3669096873365336],
        ...,
        [1622, 'R', 0.3350298222824377, 2.439210852600433,
         -0.9341622238164496],
        [1622, 'R', 0.4982925421816068, 2.521434823283629,
         -0.9465749941548168],
        [1622, 'R', 1.1231712313114994, 2.4251283417827305,
         -0.9589877452912695]], dtype=object),
 array([[1609, 'A', 1.1016603400333327, 0.18835806635737268,
         -0.06110133108891298],
        [1609, 'A', 0.9170138956334501, 0.2492310380606426,
         0.08739229594822542],
        [1609, 'A', 1.1091275958884168, 0.49045165988460576,
         0.11635540753583441],
        ...,
        [1609, 'Q', -0.2588977207824152, -0.9776835630159375,
         0.03575854012448159],
        [1609, 'Q', -0.2935189255631686, -1.0635416259881587,
         0.3584908185469159],
        [1609, 'Q', -0.2639890702569677, -0.8136897645981067,
         0.06380226405023962]], dtype=object),
 array([[1611, 'A', 1.5867601994740121, 0.07334106614187304,
         -0.07862862733940082],
        [1611, 'A', 2.082658035248575, -0.1560683857495474,
         0.03538502448541884],
        [1611, 'A', 2.097592688727726, -0.43908237810404666,
         0.2969728580797826],
        ...,
        [1611, 'R', -1.3792924618165465, 0.6774430693748408,
         -0.7186338302932114],
        [1611, 'R', -1.3925298570351967, 0.8228114146914818,
         -0.8777012795277851],
        [1611, 'R', -1.3358462229261054, 0.94819161413276,
         -0.9199966835290133]], dtype=object),
 array([[1621, 'A', -0.8601016561209863, -1.1680535133307028,
         -1.4654693064975832],
        [1621, 'A', 1.1275626673186203, 0.5418416486768571,
         -0.4922155395402348],
        [1621, 'A', 1.3020262710004153, -0.2113481416263893,
         -0.7841457121495338],
        ...,
        [1621, 'P', 2.6528472127795837, -2.451837740597298,
         -4.1538703928727605],
        [1621, 'P', 2.6528472127795837, -0.9590866606780224,
         -1.1666431618881177],
        [1621, 'P', 1.0067278171766938, 1.655272273714746,
         -0.1878725812310372]], dtype=object),
 array([[1610, 'A', 1.0450402184284766, 0.15215796857529693,
         -0.04207991467643076],
        [1610, 'A', 1.2045693104001036, 0.01723795204026226,
         -0.09402967640558561],
        [1610, 'A', 1.657360302228733, 0.02950332184339817,
         -0.26642938733071553],
        ...,
        [1610, 'R', -0.9237647615464959, 0.15471325553211776,
         0.5277298674778226],
        [1610, 'R', -0.7645751495807654, -0.9718914616082768,
         0.3659040248347226],
        [1610, 'R', -1.1063746661565574, -0.8624110397969592,
         0.7203577698494632]], dtype=object),
 array([[1634, 'A', 1.4562941742562536, -0.163649072285517,
         -0.07635871143149776],
        [1634, 'A', 1.5201059528138874, -0.1422981871496559,
         -0.021190804857148117],
        [1634, 'A', 1.620575362526909, -0.5270699891786994,

In [76]:
l=np.asarray(l).reshape(36,60000,5)

In [77]:
labels=l[:,:, 1]

In [78]:
features=l[:,:,2:5]

In [79]:
features

array([[[1.0637934194557874, -0.4864406362628823, -0.4906352143036975],
        [1.1109732862737702, 0.3030911584492328, -0.2377823027706234],
        [1.252512744958736, -1.1315126043665904, -0.03136238535156647],
        ...,
        [-1.4278087848341396, -0.582207705610673, 1.1324219049512403],
        [-1.266582576370995, -0.5517711912980219, 0.37386314154914646],
        [-1.1650949392937575, 0.9468855684575792, -0.025184726246337132]],

       [[1.0253960985833863, 0.3112113520083641, -0.10152906088525511],
        [1.6743738560697257, 0.33846795492857223, -0.10842506360848464],
        [1.0413489794267525, 0.13131801560232872, -0.044981957606642406],
        ...,
        [-1.0685077172252155, 0.22035614175907922, -1.0191552543200084],
        [-0.15172474062321448, -1.2051623144381376, 2.1290933551036146],
        [-0.5654820347169736, -1.9797028760331803, 0.9609128825066876]],

       [[-1.4593327484736491, 0.9998655148434532, -0.5568366945121513],
        [-1.374137458068776, 0.9617063257797931, -0.5172997031213636],
        [-1.4925962175304937, 0.8022554216412026, -0.4910949465384518],
        ...,
        [-0.15836471066838897, 2.709931090031636, 0.09259300005220876],
        [-0.42922467567273986, 2.7921550607148315, 0.20384827767041677],
        [-0.21538786447869193, 2.7362790655225284,
         -0.033833441312892475]],

       ...,

       [[1.0450402184284766, 0.15215796857529693, -0.04207991467643076],
        [1.2045693104001036, 0.01723795204026226, -0.09402967640558561],
        [1.657360302228733, 0.02950332184339817, -0.26642938733071553],
        ...,
        [-0.9237647615464959, 0.15471325553211776, 0.5277298674778226],
        [-0.7645751495807654, -0.9718914616082768, 0.3659040248347226],
        [-1.1063746661565574, -0.8624110397969592, 0.7203577698494632]],

       [[1.4562941742562536, -0.163649072285517, -0.07635871143149776],
        [1.5201059528138874, -0.1422981871496559, -0.021190804857148117],
        [1.620575362526909, -0.5270699891786994, 0.05650400042207865],
        ...,
        [-0.45905153699763, -0.2575990765147843, 0.5565206994893637],
        [2.679852360981045, 1.0134654103119847, 3.3641074925370473],
        [-0.9732781458191926, -0.05135770769582414,
         -0.14365207009892897]],

       [[1.4486359555815163, -0.3285229801944275, -1.1252385538981875],
        [1.8352394042409632, -0.28309540353080126, -0.8236540158801959],
        [2.3379257059815965, 0.6127371103143072, -0.2968004716115193],
        ...,
        [-1.2453474257641175, 0.46836249598841484, -0.3603872328956214],
        [-1.1574366639114269, 1.3764603796366592, -0.46106866719428813],
        [-1.3298638553954854, 1.1038947299147939, 0.17382203288969905]]],
      dtype=object)

In [80]:
from keras.utils import np_utils

In [81]:
features.shape

(36, 60000, 3)

In [82]:
labels=labels.reshape(-1)

In [83]:
labels

array(['A', 'A', 'A', ..., 'R', 'R', 'R'], dtype=object)

In [84]:
## Transform the labels from String to Integer via LabelEncoder...Should be used on y data, not X

from sklearn import preprocessing

le = preprocessing.LabelEncoder()
encoded_labels=le.fit_transform(labels)

In [85]:
encoded_labels=encoded_labels.reshape(36,60000,1)

In [86]:
features=features.astype('float32')
features

array([[[ 1.0637934 , -0.48644063, -0.49063522],
        [ 1.1109732 ,  0.30309117, -0.2377823 ],
        [ 1.2525127 , -1.1315126 , -0.03136238],
        ...,
        [-1.4278088 , -0.5822077 ,  1.1324219 ],
        [-1.2665826 , -0.55177116,  0.37386313],
        [-1.165095  ,  0.9468856 , -0.02518473]],

       [[ 1.0253961 ,  0.31121135, -0.10152906],
        [ 1.6743739 ,  0.33846796, -0.10842507],
        [ 1.0413489 ,  0.13131802, -0.04498196],
        ...,
        [-1.0685077 ,  0.22035614, -1.0191553 ],
        [-0.15172474, -1.2051623 ,  2.1290934 ],
        [-0.565482  , -1.9797028 ,  0.9609129 ]],

       [[-1.4593327 ,  0.99986553, -0.5568367 ],
        [-1.3741374 ,  0.96170634, -0.5172997 ],
        [-1.4925963 ,  0.8022554 , -0.49109495],
        ...,
        [-0.15836471,  2.7099311 ,  0.092593  ],
        [-0.42922467,  2.792155  ,  0.20384827],
        [-0.21538787,  2.736279  , -0.03383344]],

       ...,

       [[ 1.0450402 ,  0.15215796, -0.04207991],
        [ 1.2045693 ,  0.01723795, -0.09402968],
        [ 1.6573603 ,  0.02950332, -0.2664294 ],
        ...,
        [-0.92376477,  0.15471326,  0.52772987],
        [-0.7645751 , -0.97189146,  0.36590403],
        [-1.1063746 , -0.862411  ,  0.7203578 ]],

       [[ 1.4562942 , -0.16364907, -0.07635871],
        [ 1.520106  , -0.14229819, -0.02119081],
        [ 1.6205753 , -0.52707   ,  0.056504  ],
        ...,
        [-0.45905155, -0.2575991 ,  0.5565207 ],
        [ 2.6798522 ,  1.0134654 ,  3.3641076 ],
        [-0.97327816, -0.05135771, -0.14365207]],

       [[ 1.4486359 , -0.32852298, -1.1252385 ],
        [ 1.8352394 , -0.2830954 , -0.823654  ],
        [ 2.3379257 ,  0.6127371 , -0.29680046],
        ...,
        [-1.2453474 ,  0.4683625 , -0.36038724],
        [-1.1574366 ,  1.3764604 , -0.46106866],
        [-1.3298639 ,  1.1038947 ,  0.17382203]]], dtype=float32)

In [88]:
features[0,:,2]

array([-0.49063522, -0.2377823 , -0.03136238, ...,  1.1324219 ,
        0.37386313, -0.02518473], dtype=float32)

In [89]:
#Train Test Split & data Normalize...cannot be done randomly with sklearn because LSTM learns from previous sample

X_train=features[:30]
y_train=encoded_labels[:30]
X_test=features[30:]
y_test=encoded_labels[30:]

In [90]:
classes=18

In [91]:
y_train

array([[[ 0],
        [ 0],
        [ 0],
        ...,
        [16],
        [16],
        [16]],

       [[ 0],
        [ 0],
        [ 0],
        ...,
        [16],
        [16],
        [16]],

       [[ 0],
        [ 0],
        [ 0],
        ...,
        [15],
        [15],
        [15]],

       ...,

       [[ 0],
        [ 0],
        [ 0],
        ...,
        [16],
        [16],
        [16]],

       [[ 0],
        [ 0],
        [ 0],
        ...,
        [15],
        [15],
        [15]],

       [[ 0],
        [ 0],
        [ 0],
        ...,
        [16],
        [16],
        [16]]])

In [92]:
y_train=np_utils.to_categorical(y_train, classes)

In [93]:
y_train=y_train.astype('float32')
y_test=y_test.astype('float32')

In [94]:
y_train=y_train.reshape(30*60000,18)

In [95]:
X_train=X_train.reshape(30,60000*3)

In [96]:
X_train=X_train.reshape(30,60000,3)
y_train=y_train.reshape(30,60000,18)

In [97]:
y_train=y_train.reshape(30*60000,18)

In [98]:
X_train=X_train.reshape(30*60000,1,X_train.shape[2])

In [99]:
y_train.shape

(1800000, 18)

In [100]:
X_train=X_train.reshape(30*60000,1,3)

In [103]:
X_train[0,:,0].mean()

1.0637934

In [104]:
y_train=y_train.reshape(30*60000,18)

In [105]:
y_train[0,0]

1.0

In [106]:
from keras.layers import Flatten
from keras.layers import GlobalAveragePooling1D

In [107]:
from keras.layers import Dense, Dropout, Flatten, Reshape, GlobalAveragePooling1D

In [111]:
#Model development

model_a=Sequential()
model_a.add(LSTM(256,input_dim=3,return_sequences=True, stateful=False))
model_a.add(LSTM(128, return_sequences=True))
model_a.add(LSTM(64, return_sequences=True))
model_a.add(LSTM(32))
model_a.add(Dense(units=18,activation='sigmoid')) #Dense layer number must always 
#Match the number of potential outputs
model_a.compile(loss='categorical_crossentropy', optimizer='adam', 
              metrics=['accuracy']) #Can try categorical cross entropy,
#different batch sizes, different activation function for Dense

print(model_a.summary())

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_5 (LSTM)               (None, None, 256)         266240

 lstm_6 (LSTM)               (None, None, 128)         197120

 lstm_7 (LSTM)               (None, None, 64)          49408

 lstm_8 (LSTM)               (None, 32)                12416

 dense_2 (Dense)             (None, 18)                594

=================================================================
Total params: 525,778
Trainable params: 525,778
Non-trainable params: 0
_________________________________________________________________
None

In [112]:
model_a.fit(X_train, y_train, batch_size=1000, verbose=1, epochs=10)

Epoch 1/10

2022-12-09 13:18:53.661470: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.
2022-12-09 13:18:54.063775: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.
2022-12-09 13:18:54.123555: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.
2022-12-09 13:18:54.187949: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.
2022-12-09 13:18:54.234761: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.
2022-12-09 13:18:54.637174: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.
2022-12-09 13:18:54.835364: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.
2022-12-09 13:18:55.098491: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.
2022-12-09 13:18:55.184913: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:114] Plugin optimizer for device_type GPU is enabled.

1800/1800 [==============================] - 48s 24ms/step - loss: 1.9133 - accuracy: 0.3635
Epoch 2/10
1800/1800 [==============================] - 44s 24ms/step - loss: 1.6334 - accuracy: 0.4479
Epoch 3/10
1800/1800 [==============================] - 44s 24ms/step - loss: 1.5940 - accuracy: 0.4596
Epoch 4/10
1800/1800 [==============================] - 43s 24ms/step - loss: 1.5754 - accuracy: 0.4657
Epoch 5/10
1800/1800 [==============================] - 44s 24ms/step - loss: 1.5629 - accuracy: 0.4706
Epoch 6/10
1800/1800 [==============================] - 44s 24ms/step - loss: 1.5540 - accuracy: 0.4732
Epoch 7/10
1800/1800 [==============================] - 44s 24ms/step - loss: 1.5473 - accuracy: 0.4752
Epoch 8/10
1800/1800 [==============================] - 44s 24ms/step - loss: 1.5418 - accuracy: 0.4767
Epoch 9/10
1800/1800 [==============================] - 44s 24ms/step - loss: 1.5379 - accuracy: 0.4778
Epoch 10/10
1800/1800 [==============================] - 44s 24ms/step - loss: 1.5341 - accuracy: 0.4790

In [ ]:
#My last hope to increase model accuracy is simply reducing the activity classes that the model has to decide from